@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Main-title {
    text-align: center;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    padding-bottom: 0rem;
    padding-top: 1rem;
    line-height: 45px;
}

.Main-title2 {
    text-align: center;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    padding-bottom: 2rem;
    padding-top: 1rem;
    line-height: 45px;
}

html {
    height: 100%;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    overflow: hidden;
}

body {
    min-height: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background: radial-gradient(#c7c7c7, #8965b8);
    line-height: 22px;
    font-size: 14px;
}

.bg {
    padding-bottom: 3rem;
    margin-bottom: 0px;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.flexbox-container {
    display: flex;
    justify-content: center;
    height: 47rem;
}

.flexbox-item {
    width: 38rem;
    margin: 10px;
    background-color: rgb(40, 28, 66);
    border: 3px solid rgb(48, 48, 48);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 0rem;
}

.fb-left {
    min-height: 25rem;
    flex-shrink: 1;
    flex-grow: 0;
    padding-top: 5rem;
}

.fb-right {
    min-height: 25rem;
    flex-shrink: 1;
    flex-grow: 0;
}

/* SVG FILE */
.dub-map {
    transform: translate(1rem, -5rem);
}

.fb-left path {
    fill: rgb(175, 145, 61);
    stroke: #FFFFFF;
    stroke-width: 3;
    transition: fill 0.3s;
}

/* USER FEEDBACK ON MAP */

.fb-left path {
    fill: rgb(175, 145, 61);
    stroke: #FFFFFF;
    stroke-width: 3;
    transition: fill 0.3s;
}

.fb-left path:hover {
    fill: #38A6A5;
    transition: 0.6s;
    cursor: pointer;
}

/* TEXT LEFT BOX */

.fb-left-title {
    font-size: 2rem;
    font-weight: 500;
    color: #fafafa;
    text-align: center;
    padding-bottom: 6rem;
    padding-top: 0;
    margin-top: -60px;
    line-height: 30px;
}

.bottom-text-leftbox {
    font-size: 1.25rem;
    font-weight: 500;
    color: #fafafa;
    display: flex;
    padding-bottom: 0px;
    margin-bottom: 0px;
    transform: translate(0rem, -8rem);
}

.left-side-text {
    text-align: left;
}

.right-side-text {
    text-align: right;
    padding-left: 11rem;
}

/* RIGHT BOX */
.right-title {
    text-decoration: underline;
    font-size: 2rem;
    font-weight: 500;
    color: #fafafa;
    text-align: center;
    padding-bottom: 5rem;
    padding-top: 0;
    margin-top: -5px;
}

/* PAGE 1 TABLE STYLING  */

.dub-info-table {

    width: 575px;
    height: 304px;
    transform: translate(15px, -59px);
    border-collapse: collapse;
    margin: 0px;
    font-size: 15px;
    background-color: rgb(226, 226, 226);
    font-weight: bold;
}

.dub-info-table thead tr {
    background-color: #9c7725;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.dub-info-table th,
.dub-info-table td {
    padding: 4px 6px;
}

.dub-info-table tbody tr {
    border-bottom: 1px solid #a1a1a1;
}

.dub-info-table tbody tr:nth-of-type(even) {

    background-color: #f3f3f3;
}

.dub-info-table tbody tr:last-of-type {

    border-bottom: 2px solid #9c7725;
}

/* page 2 TABLE  */
.const-table thead tr {

    background-color: #9c7725;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
}

.const-table th,
.const-table td {
    padding: 2px 4px;
}

.const-table tbody tr {
    border-bottom: 1px solid #a1a1a1;
}

.const-table tbody tr:nth-of-type(even) {

    background-color: #f3f3f3;
}

.const-table tbody tr:last-of-type {

    border-bottom: 2px solid #47350e;
}

.const-table-2 {
    text-align: center !important;
    transform: translate(462px, -368px);
    width: 21rem;
    font-size: 19px;
    font-weight: 600;
    background-color: rgb(226, 226, 226);
    /* display: table-cell; */
    /* max-width: 0px; */
    border: 1px solid gray;
    table-layout: fixed;
}

.dub-bars {
    transform: translate(4px, -629px);
    max-width: 65%;
}


#data-points {

    color: #000000;
}

.new-bar-chart {
    transform: translate(-15px, -460px);
}

/* HEADER */

.header {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-content: center;
}

/* ul */
.header-buttons {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    align-content: center;
    position: relative;
    text-decoration: none;
    list-style-type: none;
    padding: 1rem;
}

/* li */
.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'RocknRoll One', sans-serif;
}

.active {
    color: rgb(175, 145, 61);

}

.btn-style {
    height: 2rem;
    width: 7rem;
    border-radius: 2px;
    background-color: rgb(40, 28, 66);
}

.wrapper {

    position: fixed;
    /* top: 50%;
    bottom: 50%; */
    transform: translate(252px, -24px);
    background: rgb(40, 28, 66);
    width: 87rem;
    height: 47rem;
    display: flex;
    border-radius: 2px;

    justify-content: center;
    max-height: 47rem;
}

.wrapper .wrapper-left {

    width: 252px;
    background: rgb(76, 65, 124);
    padding: 10px 8px;
    align-items: left;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 10px 0 13px 0px rgba(41, 41, 57, 0.7);
    transform: translate(-237px, 0px);
}

.wrapper .wrapper-left ul li {

    background: #313142;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 12px 25px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    width: 200px;
    letter-spacing: 2px;
    transition: all 0.4s ease;
    cursor: pointer;
    overflow: hidden;
}

.wrapper .wrapper-left ul li p {

    color: #abaacd;
    position: relative;
}

.wrapper .wrapper-left ul li::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100px;
    background: #5437B7;
    background: linear-gradient(126deg,
            rgba(2, 0, 3, 1) 0% rgba(123, 90, 231, 1) 0% rgba(88, 54, 206, 1) 100%);
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: all 0.4s ease;
}

.wrapper .wrapper-left ul li:last-child {

    margin-bottom: 0;
}

.wrapper .wrapper-left ul li.active {
    width: 250px;
}

.wrapper .wrapper-left ul li.active p {
    color: #FFFFFF;
}

.wrapper .wrapper-left ul li.active::before {

    width: 100%;
    transition: all 0.2s ease;
}

.wrapper-right {
    width: 550px;
    padding: 30px 50px;
}

.wrapper-right .title {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: #6b6b93;
    margin-bottom: 0px;
    text-transform: uppercase;
    transform: translate(4rem, 0%);

}

.wrapper-right .item .item_info {

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.wrapper-right .item .item_info .img {

    width: 250px;
    height: 238px;
    background: #fff;
    border-radius: 50%;
    /* margin-bottom: 20px; */
    position: relative;
    transform: translate(-97%, -2%);
}

.wrapper-right .item .item_info .img:before {

    content: "";
    position: absolute;
    transform: translate(0%, 28%);
    /* background: url("assets/img/DubFingal.png")no-repeat; */
    width: 6rem;
}

/* CONSTITUENCY MAP IMAGES */

.wrapper-right .item.fingal .item_info .img:before {
    background-position: 0 0;
    width: 219px;
    height: 170px;
    transform: translate(2%, 18%);
    border-radius: 50%;
    background-image: url(assets/img/DubFing.png);
    background-size: cover;
}

.wrapper-right .item.dbn .item_info .img:before {
    background-position: 0 0;
    width: 262px;
    height: 240px;
    transform: translate(-21%, -3%);
    border-radius: 50%;
    background-image: url(assets/img/DubBNorth1.png);
    background-size: cover;
}

.wrapper-right .item.dbs .item_info .img:before {
    background-position: 0 0;
    width: 200px;
    height: 161px;
    transform: translate(10%, 23%);
    border-radius: 50%;
    background-image: url(assets/img/DubBSouth1.png);
    background-size: cover;
}

.wrapper-right .item.dc .item_info .img:before {
    background-position: 0 0;
    width: 206px;
    height: 183px;
    transform: translate(5%, 16%);
    border-radius: 50%;
    background-image: url(assets/img/DubCentral.png);
    background-size: cover;
}

.wrapper-right .item.dmw .item_info .img:before {
    background-position: 0 0;
    width: 187px;
    height: 236px;
    transform: translate(14%, -6%);
    border-radius: 50%;
    background-image: url(assets/img/DubMWest1.png);
    background-size: cover;
}

.wrapper-right .item.dnw .item_info .img:before {
    background-position: 0 0;
    width: 239px;
    height: 166px;
    transform: translate(-4%, 22%);
    border-radius: 50%;
    background-image: url(assets/img/DubNWest1.png);
    background-size: cover;
}

.wrapper-right .item.drd .item_info .img:before {
    background-position: 0 0;
    width: 175px;
    height: 195px;
    transform: translate(17%, 10%);
    border-radius: 50%;
    background-image: url(assets/img/DubRDown1.png);
    background-size: cover;
}

.wrapper-right .item.dsc .item_info .img:before {
    background-position: 0 0;
    width: 200px;
    height: 159px;
    transform: translate(1%, 25%);
    border-radius: 50%;
    background-image: url(assets/img/DubSCentral1.png);
    background-size: cover;
}

.wrapper-right .item.dsw .item_info .img:before {
    background-position: 0 0;
    width: 213px;
    height: 207px;
    transform: translate(4%, 4%);
    border-radius: 50%;
    background-image: url(assets/img/DubSWest1.png);
    background-size: cover;
}

.wrapper-right .item.dw .item_info .img:before {
    background-position: 0 0;
    width: 187px;
    height: 190px;
    transform: translate(12%, 10%);
    border-radius: 50%;
    background-image: url(assets/img/DubWest1.png);
    background-size: cover;
}

.wrapper-right .item.dl .item_info .img:before {
    background-position: 0 0;
    width: 187px;
    height: 207px;
    transform: translate(15%, 6%);
    border-radius: 50%;
    background-image: url(assets/img/DubDLaogh1.png);
    /* background-image: url(/assets/img/DubDLaogh1.png); */
    background-size: cover;
}

.wrapper-right .item .item_info p {
    font-size: 45px;
    line-height: 36px;
    background: #FFFFFF;
    width: 319px;
    height: 70px;
    padding: 10px;
    border-radius: 5px;
    border-color: solid 2px #000000;
    color: #abaacd;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    transform: translate(-50px, -28px);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    align-content: center;
}

.wrapper-right .item p {
    color: #FFFFFF;
    margin-bottom: 20px;
}

/* CONST TITLE COLOURS */
.wrapper-right .item.fingal .item_info p {
    color: #dd0330;
}

.wrapper-right .item.dbn .item_info p {
    color: #8bc500;
}

.wrapper-right .item.dbs .item_info p {
    color: #61dafb;
}

.wrapper-right .item.dc .item_info p {
    color: #41b783;
}

.wrapper-right .item.dmw .item_info p {
    color: #da68d0;
}

.wrapper-right .item.dnw .item_info p {
    color: #585707;
}

.wrapper-right .item.drd .item_info p {
    color: #1f138d;
}

.wrapper-right .item.dsc .item_info p {
    color: #093505;
}

.wrapper-right .item.dsw .item_info p {
    color: #ee5802;
}

.wrapper-right .item.dw .item_info p {
    color: #135257;
}

.wrapper-right .item.dw .item_info p {
    color: #b60b74;
}


/* FLIP FUNCTION  */


.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.card-front {
    transform: rotateY(180deg);
    background-color: bisque;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: flex;
    position: relative;
}

.card-back {
    display: flex;
    position: relative;
}

.const-para-text {
    width: 140%;
    transform: translate(23px, -72px);
    margin-right: 0rem;
    text-align: justify
}

.const-title {

    font-size: 35px;
    line-height: 35px;
    background: #FFFFFF;
    width: 224px;
    height: 70px;
    padding: 10px;
    border-radius: 5px;
    border-color: solid 2px #000000;
    color: #abaacd;
    font-weight: 700;
    text-transform: uppercase;
    /* text-align: center; */
    transform: translate(-122px, -9px);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.bigger-title {
    font-size: 39px !important;
}

.biggest-title {
    font-size: 36px !important;
}

.chart-wrapper {

    position: absolute;
    transform: translate(-235px, -71px);
    background: rgba(189, 174, 221, 0.75);
    width: 35rem;
    height: 23rem;
    display: flex;
    border-radius: 12px;
    /* justify-content: center; */
    float: left;
}

.const-section-bottom {
    display: flex;
    flex-wrap: wrap;
    float: left;
}

.const-section-bottom .chart-wrapper {

    width: 30rem;
    background: rgba(255, 255, 255, 0.9) !important;
    padding: 1rem 6rem;
    align-items: left;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-radius: 4px;
    /* transform: translate(0px, 0px); */

    /* transform: translate(-237px, 0px); */
}

.const-table {

    transform: translate(461px, -334px);
    width: 19rem;
    text-align: center;
    font-size: 17px;
    background-color: rgb(226, 226, 226);
    border-collapse: collapse;
    margin: 0px;
    font-size: 17px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    background-color: rgb(226, 226, 226);
    font-weight: bold;
}

.party-name-left {
    text-align: left;
}


.const-table-2 {
    text-align: center !important;
    transform: translate(465px, -357px);
    width: 20rem;
    font-size: 19px;
    font-weight: 600;
    background-color: rgb(226, 226, 226);
    /* display: table-cell; */
    /* max-width: 0px; */
    border: 1px solid gray;
    table-layout: fixed;

}

.table-head-2 {
    border: 2px solid rgb(255, 0, 0);
    text-align: center !important;
}

.sf-color-box {

    background-color: #093505;
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    color: #fff;
}


.ff-color-box {
    background-color: rgb(26, 151, 22);
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    color: #fff;
}

.gp-color-box {

    background-color: #53974d;
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    color: #fff;
}

.fg-color-box {
    background-color: #0602c5;
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    color: #fff;
}

.lab-color-box {
    background-color: #ff0000;
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    color: #fff;
}

.sdem-color-box {
    background-color: rgb(97, 1, 187);
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    color: #fff;
}

.s-pbp-color-box {

    background-color: rgb(110, 46, 9);
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    color: #fff;

}

.i4c-color-box {

    background-color: rgb(209, 95, 212);
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    color: #fff;
}

.chart-img {
    color: #000000;
    width: 43rem;
    height: 25rem;
    transform: translate(-100px, -18px);
    padding: 0px;
}

/* Bar Chart Styles */
.chart-box {
    width: 578px;
    height: 306px;
    transform: translate(15px, -44px);
    color: #000000;
    font-weight: 600;
}

.chart-js-trial {
    width: 674px;
    height: 312px;
    transform: translate(-238px, -32px);
}

.chart-js-trial-main {
    width: 579px;
    height: 289px;
    transform: translate(14px, -32px);
}

.short-header {
    transform: translate(465px, -344px);
}

.short-table {
    transform: translate(461px, -318px);
}

.table-fix1 {
    transform: translate(461px, -315px);
    width: 21rem;
}


/* MEDIA QUERIES */


@media (max-width: 1200px) {
    .flexbox-container {
        width: 100%;
    }

    .flexbox-item {
        width: 30rem;
        margin: 10px;
        background-color: rgb(40, 28, 66);
        border: 3px solid rgb(48, 48, 48);
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
        padding-bottom: 0rem;
    }

    .fb-left-title {

        margin-top: -10px;
    }

    .bottom-text-leftbox {

        transform: translate(0rem, -8rem)
    }


    .fb-left {
        min-height: -5rem;
        /* flex-shrink: 1; */
        /* flex-grow: 0; */
    }

    .flexbox-container {
        display: flex;
        justify-content: center;
        height: 40rem;
    }

    .right-title {

        margin-top: -8px
    }

    .dub-info-table {
        width: 453px;
        height: 233px;
        transform: translate(15px, -59px);
        border-collapse: collapse;
        margin: 0px;
        font-size: 15px;
        background-color: rgb(226, 226, 226);
        font-weight: bold;
    }

    .dub-info-table th,
    .dub-info-table td {
        padding: 1px 2px;
    }

    .chart-js-trial-main {
        width: 455px;
        height: 289px;
        transform: translate(14px, -32px);
    }


    @media (max-width: 1000px) {
        .flexbox-container {
            width: 100%;
            height: 36rem;
        }

        .flexbox-item {
            width: 25rem;
            margin: 10px;
            background-color: rgb(40, 28, 66);
            border: 3px solid rgb(48, 48, 48);
            padding-left: 0rem;
            padding-right: 0rem;
            padding-top: 2rem;
            padding-bottom: 0rem;
        }

        .bottom-text-leftbox {

            transform: translate(0rem, -8rem);
            font-size: 1rem;
        }

        .dub-info-table {
            width: 366px;
            height: 233px;
        }


        .dub-info-table th,
        .dub-info-table td {
            padding: 0px 0px;
        }

        .chart-js-trial-main {
            width: 369px;
        }


        @media (max-width: 800px) {
            .flexbox-container {
                width: 100%;
                height: 33rem;
            }

            .flexbox-item {
                width: 25rem;
                margin: 10px;
                background-color: rgb(40, 28, 66);
                border: 3px solid rgb(48, 48, 48);
                padding-left: 0rem;
                padding-right: 0rem;
                padding-top: 2rem;
                padding-bottom: 0rem;
            }

            .bottom-text-leftbox {

                transform: translate(0rem, -8rem);
                font-size: .75rem;
            }

            .dub-info-table {
                width: 344px;
                height: 229px;
            }


            .dub-info-table th,
            .dub-info-table td {
                padding: 0px 0px;
            }

            .chart-js-trial-main {
                width: 344px;
            }


            @media (max-width: 800px) {
                .flexbox-container {
                    width: 100%;
                    height: 30rem;
                }

                .flexbox-item {
                    width: 25rem;
                    margin: 10px;
                    background-color: rgb(40, 28, 66);
                    border: 3px solid rgb(48, 48, 48);
                    padding-left: 0rem;
                    padding-right: 0rem;
                    padding-top: 2rem;
                    padding-bottom: 0rem;
                }

                .bottom-text-leftbox {

                    transform: translate(0rem, -8rem);
                    font-size: .5rem;
                }

                .dub-info-table {
                    width: 316px;
                    height: 200px;
                    font-size: 10px;
                }


                .dub-info-table th,
                .dub-info-table td {
                    padding: 0px 0px;
                }

                .chart-js-trial-main {

                    display: none;
                }

                .fb-left-title {
                    font-size: 1rem;
                }

                .right-title {
                    font-size: 1rem;
                }

                @media (max-width: 600px) {
                    .flexbox-container {
                        width: 100%;
                        height: 25rem;
                    }

                    .flexbox-item {
                        width: 25rem;
                        margin: 10px;
                        background-color: rgb(40, 28, 66);
                        border: 3px solid rgb(48, 48, 48);
                        padding-left: 0rem;
                        padding-right: 0rem;
                        padding-top: 2rem;
                        padding-bottom: 0rem;
                    }

                    .bottom-text-leftbox {

                        transform: translate(0rem, -8rem);
                        font-size: .5rem;
                    }

                    .dub-info-table {
                        width: 220px;
                        height: 250px;
                        font-size: 10px;
                    }


                    .dub-info-table th,
                    .dub-info-table td {
                        padding: 0px 0px;
                    }

                    .chart-js-trial-main {

                        display: none;
                    }

                    .fb-left-title {
                        font-size: 1rem;
                    }

                    .right-title {
                        font-size: 1rem;
                    }








                    /* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}*/

                    /* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}  */