* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.Main-title {

    text-align: center;
    font-size: 4rem;
    color: rgb(0, 0, 0);
    padding-bottom: 2rem;
    padding-top: 1rem;

    /* transform: translateY(5.25rem); */
}

body,
html {
    height: 100%;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}

body {
    min-height: 100vh;
}

.bg {
    /* The image used */
    /* background-image: url("/assets/img/bg4.jpg"); */

    /* Full height */
    height: 120%;

    margin: 0;
    /* Center and scale the image nicely */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(135, 128, 199);
}

.flexbox-container {
    display: flex;
    justify-content: center;


}

.flexbox-item {

    width: 42rem;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.747);
    border: 3px solid rgb(100, 100, 100);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 0rem;


}


.fb-left {
    min-height: 25rem;
    flex-shrink: 1;
    flex-grow: 0;
    padding-top: 6rem;
}

.fb-right {
    min-height: 55rem;
    flex-shrink: 1;
    flex-grow: 0;
}

/* SVG FILE */

.dub-map {

    transform: translateY(-2rem);
}

.fb-left path {


    fill: rgb(175, 145, 61);
    stroke: #FFFFFF;
    stroke-width: 3;
    transition: fill 0.3s;
}


.dubrath {
    fill: rgb(255, 251, 0);
    stroke: #FFFFFF;
    stroke-width: 1;
}

.dunlaogh {
    fill: rgb(10, 10, 10);
    stroke: #FFFFFF;
    stroke-width: 1;
}

.fingal {
    fill: rgb(118, 161, 87);
    stroke: #FFFFFF;
    stroke-width: 0.7683;
}

.dubwest {
    fill: rgb(21, 255, 0);
    stroke: #FFFFFF;
    stroke-width: 0.7683;
}

.dubnwest {
    fill: #38A6A5;
    stroke: #FFFFFF;
    stroke-width: 0.7683;
}

.dubbnorth {
    fill: #E17C05;
    stroke: #FFFFFF;
    stroke-width: 0.7683;
}

.dubcentral {
    fill: rgb(255, 0, 0);
    stroke: #FFFFFF;
    stroke-width: 0.7683;
}

.dubmidwest {
    fill: #0F8554;
    stroke: #FFFFFF;
    stroke-width: 0.7683;
}

.dubscentral {
    fill: rgb(0, 194, 228);
    stroke: #FFFFFF;
    stroke-width: 0.7683;
}

.dubbsouth {
    fill: #CC503E;
    stroke: #FFFFFF;
    stroke-width: 0.7683;
}

.dubswest {
    fill: rgb(104, 75, 102);
    stroke: #FFFFFF;
    stroke-width: 0.7683;
}

/* USER FEEDBACK ON MAP */

.fb-left path {
    fill: rgb(175, 145, 61);
    stroke: #FFFFFF;
    stroke-width: 3;
    transition: fill 0.3s;
}

.fb-left path:hover {
    fill: #38A6A5;
    transition: 0.6s;
    cursor: pointer;

}

/* TEXT LEFT BOX */

.fb-left-title {
    font-size: 3rem;
    font-weight: 500;
    color: #fafafa;
    text-align: center;
    padding-bottom: 5rem;
    padding-top: 0;
    margin-top: -60px;
}

.bottom-text-leftbox {


    font-size: 1.25rem;
    font-weight: 500;
    color: #fafafa;
    display: flex;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.left-side-text {
    text-align: left;
}

.right-side-text {
    text-align: right;
    padding-left: 11rem;
}


/* RIGHT BOX */

.right-title {
    text-decoration: underline;
    font-size: 3rem;
    font-weight: 500;
    color: #fafafa;
    text-align: center;
    padding-bottom: 5rem;
    padding-top: 0;
    margin-top: -5px;
}