@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;

}

.Main-title {

    text-align: center;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: 45px;

    /* transform: translateY(5.25rem); */
}


html {
    height: 100%;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    overflow: hidden;
}

body {
    min-height: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background: radial-gradient(#c7c7c7, #8965b8);
    line-height: 24px;
    font-size: 14px;

}

.bg {
    /* The image used */
    /* background-image: url("/assets/img/bg4.jpg"); */

    /* Full height */
    /* height: 100%; */
    padding-bottom: 3rem;
    margin-bottom: 0px;

    margin: 0;
    /* Center and scale the image nicely */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(137, 130, 201); */
    background: radial-gradient(#c7c7c7, #8965b8);
}

.flexbox-container {
    display: flex;
    justify-content: center;
    max-height: 50rem;


}

.flexbox-item {

    width: 38rem;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.747);
    border: 3px solid rgb(100, 100, 100);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 0rem;



}


.fb-left {
    min-height: 25rem;
    flex-shrink: 1;
    flex-grow: 0;
    padding-top: 5rem;
}

.fb-right {
    min-height: 25rem;
    flex-shrink: 1;
    flex-grow: 0;
}

/* SVG FILE */

.dub-map {

    transform: translate(1rem, -5rem);

}

.fb-left path {


    fill: rgb(175, 145, 61);
    stroke: #FFFFFF;
    stroke-width: 3;
    transition: fill 0.3s;
}


.dubrath {
    fill: rgb(255, 251, 0);
    stroke: #FFFFFF;
    stroke-width: 1;
}

.dunlaogh {
    fill: rgb(10, 10, 10);
    stroke: #FFFFFF;
    stroke-width: 1;
}

.fingal {
    fill: rgb(118, 161, 87);
    stroke: #FFFFFF;
    stroke-width: 0.7683;
}

.dubwest {
    fill: rgb(21, 255, 0);
    stroke: #FFFFFF;
    stroke-width: 0.7683;
}

.dubnwest {
    fill: #38A6A5;
    stroke: #FFFFFF;
    stroke-width: 0.7683;
}

.dubbnorth {
    fill: #E17C05;
    stroke: #FFFFFF;
    stroke-width: 0.7683;
}

.dubcentral {
    fill: rgb(255, 0, 0);
    stroke: #FFFFFF;
    stroke-width: 0.7683;
}

.dubmidwest {
    fill: #0F8554;
    stroke: #FFFFFF;
    stroke-width: 0.7683;
}

.dubscentral {
    fill: rgb(0, 194, 228);
    stroke: #FFFFFF;
    stroke-width: 0.7683;
}

.dubbsouth {
    fill: #CC503E;
    stroke: #FFFFFF;
    stroke-width: 0.7683;
}

.dubswest {
    fill: rgb(104, 75, 102);
    stroke: #FFFFFF;
    stroke-width: 0.7683;
}

/* USER FEEDBACK ON MAP */

.fb-left path {
    fill: rgb(175, 145, 61);
    stroke: #FFFFFF;
    stroke-width: 3;
    transition: fill 0.3s;
}

.fb-left path:hover {
    fill: #38A6A5;
    transition: 0.6s;
    cursor: pointer;

}

/* TEXT LEFT BOX */

.fb-left-title {
    font-size: 2rem;
    font-weight: 500;
    color: #fafafa;
    text-align: center;
    padding-bottom: 6rem;
    padding-top: 0;
    margin-top: -60px;
}

.bottom-text-leftbox {


    font-size: 1.25rem;
    font-weight: 500;
    color: #fafafa;
    display: flex;
    padding-bottom: 0px;
    margin-bottom: 0px;
    transform: translate(0rem, -7rem);
}

.left-side-text {
    text-align: left;
}

.right-side-text {
    text-align: right;
    padding-left: 11rem;
}


/* RIGHT BOX */

.right-title {
    text-decoration: underline;
    font-size: 2rem;
    font-weight: 500;
    color: #fafafa;
    text-align: center;
    padding-bottom: 5rem;
    padding-top: 0;
    margin-top: -5px;
}

table {
    width: 100%;
    font-size: 18px;
    background-color: rgb(226, 226, 226);
    transform: translate(0, -80px);
}

.dub-info-table {
    border: 4px solid rgb(0, 0, 0);
}

table,
th,
td {
    border: 2px solid rgb(173, 139, 25);
}

table,
th {

    text-align: left;
}

.table-head {
    border: 2px solid rgb(0, 0, 0);
}


.dub-bars {
    transform: translate(4px, -629px);
    max-width: 65%;

}






/* PIE CHART */

.dub-seats-pie {

    transform: translate(390px, -6px);
    /* Shows outline of SVG - NEED FIX */
    /* border: 2px solid black; */
}

.dub-seats-pie path:hover {

    fill: rgb(203, 218, 6);
    transition: 0.6s;
    cursor: pointer;
}

#data-points {

    color: #000000;
}

.new-bar-chart {
    transform: translate(-15px, -460px);
}

/* HEADER */

.header {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-content: center;
}

/* ul */
.header-buttons {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    align-content: center;
    position: relative;
    text-decoration: none;
    list-style-type: none;
    padding: 1rem;
}

/* li */
.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'RocknRoll One', sans-serif;
}

.active {
    color: #00a2ff;
}

.btn-style {
    height: 2rem;
    width: 5rem;
    border-radius: 10px;
    background-color: #5F0F40;
}

.wrapper {

    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(500px, -300px);
    background: rgb(40, 28, 66);
    width: 800px;
    height: 680px;
    display: flex;
    border-radius: 12px;
}

.wrapper .wrapper-left {

    width: 250px;
    background: rgb(76, 65, 124);
    padding: 95px 25px;

    align-items: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 10px 0 13px 0px rgba(41, 41, 57, 0.7);
}

.wrapper .wrapper-left ul li {

    background: #313142;
    margin-bottom: 25px;
    border-radius: 3px;
    padding: 12px 25px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    width: 200px;
    letter-spacing: 2px;
    transition: all 0.4s ease;
    cursor: pointer;
    overflow: hidden;
}

.wrapper .wrapper-left ul li p {

    color: #abaacd;
    position: relative;
}

.wrapper .wrapper-left ul li::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100px;
    background: #5437B7;
    background: linear-gradient(126deg,
            rgba(2, 0, 3, 1) 0% rgba(123, 90, 231, 1) 0% rgba(88, 54, 206, 1) 100%);
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: all 0.4s ease;
}

.wrapper .wrapper-left ul li:last-child {

    margin-bottom: 0;
}

.wrapper .wrapper-left ul li.active {
    width: 250px;
}

.wrapper .wrapper-left ul li.active p {
    color: #FFFFFF;
}

.wrapper .wrapper-left ul li.active::before {

    width: 100%;
    transition: all 0.2s ease;
}

.wrapper-right {
    width: 550px;
    padding: 30px 50px;
}

.wrapper-right .title {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: #6b6b93;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.wrapper-right .item .item_info {

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.wrapper-right .item .item_info .img {

    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    margin-bottom: 20px;
    position: relative;
}

.wrapper-right .item .item_info .img:before {

    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -37%);
    background: url("/assets/img/fingal1.png")no-repeat 0 0;
    width: 100px;
    height: 100px;

}

.wrapper-right .item.fingal .item_info .img:before {

    background-position: 0 0;
    width: 100px;
    height: 100px;
    ;
}

.wrapper-right .item.dbn .item_info .img:before {
    background-position: 0 0;
    width: 100px;
    height: 100px;
    ;
}

.wrapper-right .item.dbs .item_info .img:before {
    background-position: 0 0;
    width: 100px;
    height: 100px;
    ;
}

.wrapper-right .item.dc .item_info .img:before {
    background-position: 0 0;
    width: 100px;
    height: 100px;
    ;
}












.wrapper-right .item .item_info p {

    background: #fff;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    color: #abaacd;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}